/* Basic Style */

body {
  background: #ecf0f1;
  color: #333;
  font-family: Lato, sans-serif;
}

h1 {
  justify-content: center;
  text-align: center;
}

.container {
  width: 80%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li, h3 {
  clear: both;
  list-style: none;
}

input, button {
  outline: solid;
}

button {
  border: 0px;
  color: #f1f0f5;
  font-size: 15px;
  width: 100px;
  height: 35px;
  margin: 10px 10px 0;
  align-content: flex-start;
  font-family: Lato, sans-serif;
  border-radius: 3px;
  cursor: pointer;
  background-color: #291381;
  font-weight: 300px;
  position: fixed;
  left: 80px;
  right: 20px;
  position: static;
  left: 80px;
  top: 20px;
}

/* Heading */

h3, label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  font-size: 18px;
  line-height: 18px;
  height: 3vh;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #888;
  position: static;
}

input[type="text"]:focus {
  color: #333;
}

.middle {
  text-align: center;
}

/* New Task */

label[for='new-task'] {
  display: block;
}

input#new-task {
  float: right;
  width: 318px;
}

p > button:hover {
  color: #ef78d1;
}

/* Task list */

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

li > input[type="text"] {
  width: 226px;
}

li > .delete:hover {
  color: #CF2323;
}

/* Completed */

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: block;
}

ul li.editMode label {
  display: none;
}

